body {
  text-align: left;
  background-color: #21201E;
  color: white;
  font-size: 30px;
  font-family: Victor Mono, monospace;
}

h2{
  font-family: Source Code Pro, cursive;
}

h3{
  font-family:  Source Code Pro, cursive;
}

/*scrollbar*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #21201E;
}
::-webkit-scrollbar-thumb {
  background: #d60b5c; 
  border-radius: 5px;
}


/*HOMEPAGE*/
.homepage{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.homepageText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.profileImage{
  max-width: 550px;
  height: 400px;
  background-position: center;
  margin: 10px auto;
  border: 2px  solid black;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 0px #0A0A0A);
}
.homepageSocials{
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  gap: 20px;
}
.homeButtons{
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  gap: 20px;
}
.homepageButton{
  filter: drop-shadow(7px 7px 0px #0A0A0A);
  background-color: #d60b5c;
  border: 2px solid #d60b5c;
  border-radius: 10px;
}
@media (max-width: 1200px){
  .homepage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .homeButtons{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
  }
} 

/*typewriter*/
.Typewriter__wrapper {
  margin-top: 0;
  font-family: Edu SA Beginner, monospace;
  font-size: 1.5em !important;
  letter-spacing: 1px !important;
}
.Typewriter__cursor {
  font-size: 1.55em !important;
  color: rgb(116, 5, 116);
}

/*socials*/
button{
  padding: 25px;
}
.socailmediabtn {
  margin: 0 auto;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}
.socailmediabtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(241, 230, 230, 0.35) 0px 5px 15px !important;
  opacity: 0.8;
}
.icon {
  font-size: 30px;
}

/*HEADER*/
.header{
  background-color: #21201E;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  font-size: 26px;
}
.header span{
  display: inline-block;
  padding-top: 5px;
  margin-left: 8px;
}
.imgHeader{
  width: 100px;
}
.nav{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #21201E;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out;
}
.menu li{
  display: block;
  padding: 20px;
  text-align: center;
}
.menu a:hover{
  filter: drop-shadow(7px 7px 0px #0A0A0A);
  background-color: #d60b5c;
  border: 2px solid #d60b5c;
  border-radius: 10px;
}
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}
.hamb-line{
  background-color: #ffffff;
  display: block;
  height: 4px;
  position: relative;
  top: -15px;
  width: 34px;
}
.hamb-line::before, .hamb-line::after{
  background-color: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 8px;
}
.hamb-line::after{
  top: -8px;
}
.side-menu{
  display: none;
}
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line{
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before{
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after{
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 858px){
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav{
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background: transparent;
  }
  .menu li{
    float: left;
  }
  .menu a:hover{
    filter: drop-shadow(7px 7px 0px #0A0A0A);
    background-color: #d60b5c;
    border: 2px solid #d60b5c;
    border-radius: 10px;
  }
  .hamb{
    display: none;
  }
}


/*FOOTER*/
.footer{
  background-color: #21201E;
}
.footerSection{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0;
  gap: 10px;
  font-size: 24px;
}
.footerSocials{
  margin-top: 0;
}
@media (max-width: 780px){
  .footerSection{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/*ABOUT*/
.skillsContainer{
  margin-top: 50px;
}
.skill-box{
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skill-image{
  width: 60px;
  height: 50px;
}
.skill-text{
  text-transform: lowercase;
}
.serviceContainer{
  width: 100%;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.serviceCard{
  padding: 10px;
  background-color: #21201E;
  box-shadow: 6px 6px 0px #0A0A0A;
  border: 4px solid black;
  width: 80%;
  height: auto;
}
.serviceCard p{
  padding: 10px;
  text-align: center;
  font-size: 24px;
}
.serviceCard h4{
  font-size: 28px;
}

/*CONTACT*/
.contactContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.contactForm{
  border: 6px solid black;
  border-radius: 10px;
  padding: 10px 10px;
  width: 50%;
  height: 700px;
  margin: 20px auto;
}
.contactDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input, textarea{
  border: 2px solid black;
  background-color: #21201E;
  filter: drop-shadow(5px 5px 0px #0A0A0A);
}
.contactIcon{
  background-color: #21201E;
  filter: drop-shadow(7px 7px 0px #0A0A0A);
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  word-wrap: break-word;
}
.submit{
  margin: 20px auto;
  filter: drop-shadow(7px 7px 0px #0A0A0A);
  border: 2px solid #052240;
}
.contactQuestions{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px auto;
}
.questionTab{
  filter: drop-shadow(5px 5px 0px #0A0A0A);
  width: 80%;
  font-size: 25px;
  overflow: hidden;
  margin-bottom: 20px;
} 
.questionTab input{
  position:absolute;
  opacity: 0;
  z-index: 1;
}
.tab-label{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #2d2c3b;
  font-weight: bold;
  cursor: pointer;
}
.tab-label::after{
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
}
.answerTab{
  display: none;
  font-size: 25px;
}
.questionTab input:checked + .tab-label::after{
  transform: rotate(90deg);
}
.questionTab input:checked ~ .answerTab{
  display: block;
}
@media (max-width: 550px) {
  .contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .contactForm{
    width: 100%;
  }
  .contactDetails{
    width: 100%;
    padding: 10px;
  }
}

/*BLOG*/
.card{
  width: 80%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  background-color: #21201E;
  box-shadow: 7px 7px 0px #0A0A0A;
  border: 4px solid black;
  margin: 10px auto;
}
.card-body{
  padding: 1rem;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.tag{
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75em;
}
.tag + .tag{
  margin-left: .5em;
}
.tag-pink{
  background-image: linear-gradient(to bottom, #d60b5c, #b915cc);
  box-shadow: 7px 7px 0px #0A0A0A;
}
.card-body h4{
  font-size: 1.5rem;
  text-transform: capitalize;
  text-decoration: underline;
}
.card-footer{
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

/*PROJECTS PAGE*/
.projectContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}
.projectCard{
  height: auto;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  margin: 20px 20px;
  border: 6px solid black;
}
.projectHeader img{
  width: 100%;
}
.projectBody h3{
  font-size: 20px;
  margin-top: 10px;
  padding-left: 10px;
}
.projectBody p{
  font-size: 23px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 10px;
}
.projectFooter{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.projectFooter button{
  margin: 10px auto;
  border: 2px solid #052240;
  background-color: #052240;
  filter: drop-shadow(7px 7px 0px #0A0A0A);
}